.each-card, .editCardForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
  opacity: 0.65;
  width: 100px;
  height: 150px;
}

.each-card *, .editCardForm * {
  margin: 2%;
  text-align: center;
  width: 95%;
}


