.each-card, .editCardForm {
  align-items: center;
  border-radius: 10%;
  box-shadow: 5px 5px 2px #d9d9d9;
  color: gray;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  justify-content: space-around;
  margin: 3% 1%;
  width: 100px;
  height: 150px;
  position: relative;
}

.each-card button {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.each-card button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.card-id, .card-title, .card-creator, .edit-title, .edit-assigned, .edit-priority {
  text-align: center;
  width: 90%;
}

.card-id {
  font-size: 25px;
}

.card-title {
  font-size: 18px;
}

.card-creator {
  font-size: 8px;
}

.close-edit {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}


