.each-card, .editCardForm {
  align-items: center;
  border-radius: 10%;
  box-shadow: 5px 5px 2px #d9d9d9;
  word-wrap: break-word;
  color: rgb(72,72,72);
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  justify-content: space-around;
  margin: 3% 1%;
  width: 100px;
  height: 150px;
  position: relative;
}

.each-card button {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.each-card button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.card-id, .card-title, .card-creator, .edit-title, .edit-assigned, .edit-priority {
  text-align: center;
  width: 90%;
}

.card-title {
  font-size: 1vw;
}

.card-creator {
  font-size: 8px;
}

.close-edit {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.card-description {
  font-family: 'Raleway', sans-serif;
  background-color: #ccebff;
  border-radius: 10%;
  border: 2px solid #80ccff;
  box-shadow: 5px 5px 2px #d9d9d9;
  color: rgb(72,72,72);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  margin: 60px auto;
  word-wrap: break-word;
}
.description-title {
  border: 1px solid #80ccff;
  border-radius:10%;
  flex: 1;
  font-size: 1vw;
  width: 80%;
  text-align: center;
  margin-top: 60px;
  height: 90px;
  padding: 5%;
}

.description-text {
  border-radius: 10%;
  flex: 5;
  width: 80%;
  margin: 5px;
  font-size: 0.9vw;
  border: 1px solid #80ccff;
  padding: 5%;
}


.card-description .close-edit {
  top: 20px;
  right: 20px;
  font-size: 20px;
}
