.footerForm {
  align-items: center;
  background-color: silver;
  display: flex;
  height: 400px;
  margin: 10% 0;
  position: fixed;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardInputs {
  height: 20px;
  width: 40%;
}

.popupTitles {
  text-align: center;
  width: 100%;
}

