.popup-form-div {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.form-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  font-size: 30px;
  color: white;
  border-radius: 10px;
}