.popup-form-div {
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 500px;
  border-radius: 10px;
}

.form-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  font-size: 30px;
  color: white;
  border-radius: 10px;
}