.login-component, .login-form {
  color: rgb(72,72,72);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 400px;
  height: 500px;
  font-family: 'Raleway', sans-serif;
}

.login-intro, .login-input, .login-register {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex: 2;
  margin-top: 5%;
}

.login-intro * {
  width: 50%;
  margin: 1%;
  text-align: center;
}

.login-intro h5 {
  width: 70%;
  font-size: 30px;
}

.login-intro p {
  font-size: 15px;
}

.login-input input {
  background-color: rgb(235,235,235);
  width: 60%;
  height: 30px;
  font-size: 15px;
  border: none;
}

.login-register {
  flex: 1;
}

.login-component button {
  width: 60%;
  height: 30px;
  border: none;
}

button:hover {
  background-color: rgb(150, 150, 150);
}