body {
  background-image: url('./assets/BG.png');
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

